.transition-default {
  transition: all ease 0.3s;
}

.dt-column-title {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.nav-anchor {
  position: relative;
  transition: all ease 0.4s;
}

.nav-anchor::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  border-radius: 20px;
  transition: all ease 0.3s;
}

.event-con {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
  white-space: wrap;
}

.fc-daygrid-dot-event {
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
}

.fc-header-toolbar button {
  padding: 4px 10px !important;
  text-transform: capitalize !important;
}
.fc-daygrid-block-event{
  transition: all ease .2s;
}

.fc-daygrid-block-event:hover{
  background-color: #4da870 !important;
}


@media (max-width: 750px) {
  .fc-header-toolbar button {
    padding: 5px !important;
  }
}
.fc .fc-button-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(133, 211, 133);
  border: none !important;
}

.fc-button-active {
  --tw-bg-opacity: 1;
  background-color: rgb(50, 128, 50) !important;
  border: none !important;
}

#top-nav {
  transition: all ease 0.4s;
}

.nav-anchor.active::after {
  width: 100%;
}

.nav-anchor.active {
  color: white;
}

.nav-anchor:hover::after {
  width: 100%;
}

.nav-anchor:hover {
  color: white;
}

.rotate {
  rotate: 90deg;
}

::selection {
  background-color: rgb(9, 71, 9);
  color: white;
}

.view-radio:checked ~ .view-label::after{
  width: 130%;

}


.view-label::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: black;
  border-radius: 20px;
  transition: all ease 0.3s;
  transform: translateX(-50%);
}

